
- content_for :title do
  Listing websites

- content_for :main do
  %table
    %thead
      %tr
        %th Name
        %th URL
        %th
    %tbody
      - @websites.each do |website|
        %tr
          %td= link_to website.name, website_path(website)
          %td= website.url
          %td
            = link_to 'Show', website 
            = link_to 'Edit', edit_website_path(website)
            = link_to 'Destroy', website, :confirm => 'Are you sure?', :method => :delete
<br />

= link_to 'New Website', new_website_path
