
- content_for :title do
  = @website.name

- content_for :main do
  .span-17
    .block
      %h2 Developers
      
      %table
        %head
          %th Name
          %th Slaps
          %th
        %tbody
          - @website.website_people.each do |website_person|
            %tr
              %td= website_person.name
              %td= website_person.slap_total
              %td
                = link_to "edit", edit_website_person_path(@website, website_person)
                = link_to "remove", website_person_path(@website, website_person), :method => :delete, :confirm => "Are you sure you want to remove this person"
          
      = link_to "Add developer", new_website_person_path(@website)
    
    .block
      %h3 DevSlap Code
      %p= text_area_tag :code, @website.embed_code
  
  .span-7.last
    .block
      %h3 Website Details
      
      %h5 Name
      %p= @website.name
      
      %h5 Url
      %p= @website.url
      
      %h5 Description
      %p= @website.description
      
      
      %p
        = link_to 'Edit', edit_website_path(@website)
  
