
= form_for @person do |f|
  = f.error_messages

  %dl
    - field_set_tag "Edit Person Profile" do
      
      %dt= f.label :email
      %dd= f.text_field :email
      
      %dt= f.label :password
      %dd= f.password_field :password
      
      %dt= f.label :password_confirmation
      %dd= f.password_field :password_confirmation
    
  .actions= f.submit
