

- content_for :main do
  .span-17
    %h2 Websites
    %table
      %thead
        %tr
          %th Name
          %th URL
          %th
      %tbody
        - @person.websites.each do |website|
          %tr
            %td= link_to website.name, website_path(website)
            %td= website.url
            %td
              = link_to 'Edit', edit_website_path(website)
              = link_to 'Destroy', website_path(website), :confirm => 'Are you sure?', :method => :delete
  
  .span-7.last
    %h3 Settings
    %p= @person.email
    %p= link_to 'Edit My Login Details', edit_person_path(@person)
