#slapping_start
  %span= link_to("Start slapping now !", "javascript:void(0);")
  
#slapping_info.hide
  %span Slap now as much as you can to feel better !
  
#slapping_timer.hide
  %span== <span>10.00</span> sec
    
#slapping_end.hide
  .spacer
  %p
    %strong
      Wonderslap!
    %br
    Please now submit your slap score!
    %br
    
  - form_for Slapper.new, :url => website_slappers_path(@website), :method => :post do |f|
    %fieldset
      %p
        = f.label :apology, "Get an apology"
        = f.check_box :apology
      %p
        = f.label :email, "Your email"
        = f.text_field :email
      %p
        = f.label :feedback, "Submit some feedback"
        = f.text_area :feedback
      
      - @people.each do |person|
        = f.hidden_field "people_slap_number[#{person.id}]", :value => 0, :id => "slapper_people_slap_number_#{person.id}"
        
      = submit_tag("Slap")

.spacer

%ul#slapped
  - @people.each do |person|
    %li
      %span.slapped_name= person.name
      %br
      %span.slapped_role= person.role
      .spacer
      = link_to(image_tag("http://xtrmweb.com/wp-content/uploads/10-REALITY_SLAP_L.jpg"), "javascript:void(0);", :name => person.id, :class => :picture_to_slap)
      = link_to(image_tag("http://unrepentantoldhippie.files.wordpress.com/2008/12/slap-logo1.jpg"), "javascript:void(0);", :name => person.id, :class => :slapped_picture)
      %br
      %span.slapped_counter 0
      .spacer
      %span.slapped_description= person.description
      
      
  