!!! Strict
%html
  = render :partial => "layouts/head"

  %body
    = render '/layouts/page_head'
  
    .container
      %h1== #{link_to("Dashboard", dashboard_path)  }: #{yield :title}

      = yield :page_head

      = yield :main

      = yield
