!!! Strict
%html
  = render :partial => "layouts/head"
  
  %body
    = render '/layouts/page_head'
  
    .container
      %h1== #{yield :title}

      = yield :page_head

      = yield :main

      = yield
